In [352]:
# Python program to convert
# JSON file to CSV

import pandas as pd
import json
import csv


# Opening JSON file and loading the data
# into the variable data
with open('mpd.slice.0-999.json') as json_file:
	data = json.load(json_file)

df = pd.json_normalize(data['playlists'])

df.to_csv("playlist.csv")

In [353]:
df

,name,collaborative,pid,modified_at,num_tracks,num_albums,num_followers,tracks,num_edits,duration_ms,num_artists,description
0,Throwbacks,false,0,1493424000,52,47,1,"[{'pos': 0, 'artist_name': 'Missy Elliott', 't...",6,11532414,37,NaN
1,Awesome Playlist,false,1,1506556800,39,23,1,"[{'pos': 0, 'artist_name': 'Survivor', 'track_...",5,11656470,21,NaN
2,korean,false,2,1505692800,64,51,1,"[{'pos': 0, 'artist_name': 'Hoody', 'track_uri...",18,14039958,31,NaN
3,mat,false,3,1501027200,126,107,1,"[{'pos': 0, 'artist_name': 'Camille Saint-Saën...",4,28926058,86,NaN
4,90s,false,4,1401667200,17,16,2,"[{'pos': 0, 'artist_name': 'The Smashing Pumpk...",7,4335282,16,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,old,false,995,1507852800,41,40,1,"[{'pos': 0, 'artist_name': 'Katrina', 'track_u...",8,9917901,36,NaN
996,Daze,false,996,1479254400,17,17,1,"[{'pos': 0, 'artist_name': 'PARTYNEXTDOOR', 't...",13,3699248,15,NaN
997,rap,false,997,1410307200,119,98,1,"[{'pos': 0, 'artist_name': 'LoveRance', 'track...",63,27538723,82,NaN
998,Country,false,998,1507939200,108,75,1,"[{'pos': 0, 'artist_name': 'Hunter Hayes', 'tr...",37,24950143,40,NaN
999,thinking of you,false,999,1507766400,44,43,1,"[{'pos': 0, 'artist_name': 'Pvris', 'track_uri...",34,9065801,37,NaN

In [355]:
f=0
for i in range(0,len(df["tracks"])):
    for j in range(0,len(df["tracks"][i])):
        x=df["tracks"][i][j]
        x["pid"]=f

    f+=1

In [427]:
# Python program to convert
# JSON file to CSV


import json
import csv


# now we will open a file for writing
morceaux_file = open('morceaux.csv', 'w')

# create the csv writer object
csv_writer = csv.writer(morceaux_file)

# Counter variable used for writing
# headers to the CSV file
count = 0
for i in range(0,len(df["tracks"])):
    for j in range(0,len(df["tracks"][i])):
            x=df["tracks"][i][j]
            # Writing headers of CSV file
            if count==0:  
                header = x.keys()
                csv_writer.writerow(header)
                count+=1
            csv_writer.writerow(x.values())
            

        # Writing data of CSV file
            

morceaux_file.close()

In [389]:
import pandas as pd

In [428]:
df_mor = pd.read_csv("morceaux.csv")
df_mor.loc[67503]=[0,"0","0","0","0","0",0,"0",0]
df_mor

,pos,artist_name,track_uri,artist_uri,track_name,album_uri,duration_ms,album_name,pid
0,0,Missy Elliott,spotify:track:0UaMYEvWZi0ZqiDOoHU3YI,spotify:artist:2wIVse2owClT7go1WT98tk,Lose Control (feat. Ciara & Fat Man Scoop),spotify:album:6vV5UrXcfyQD1wu4Qo2I9K,226863,The Cookbook,0
1,1,Britney Spears,spotify:track:6I9VzXrHxO9rA9A5euc8Ak,spotify:artist:26dSoYclwsYLMAKD3tpOr4,Toxic,spotify:album:0z7pVBGOD7HCIB7S8eLkLI,198800,In The Zone,0
2,2,Beyoncé,spotify:track:0WqIKmW4BTrj3eJFmnCKMv,spotify:artist:6vWDO969PvNqNYHIOW5v0m,Crazy In Love,spotify:album:25hVFAxTlDvXbx2X2QkUkE,235933,Dangerously In Love (Alben für die Ewigkeit),0
3,3,Justin Timberlake,spotify:track:1AWQoqb9bSvzTjaLralEkT,spotify:artist:31TPClRtHm23RisEBtV3X7,Rock Your Body,spotify:album:6QPkyl04rXwTGlGlcYaRoW,267266,Justified,0
4,4,Shaggy,spotify:track:1lzr43nnXAijIGYnCT8M8H,spotify:artist:5EvFsr3kj42KNv97ZEnqij,It Wasn't Me,spotify:album:6NmFmPX56pcLBOFMhIiKvF,227600,Hot Shot,0
...,...,...,...,...,...,...,...,...,...
67499,40,Big Words,spotify:track:0P1oO2gREMYUCoOkzYAyFu,spotify:artist:0sHN89qak07mnug3LVVjzP,The Answer,spotify:album:5jrsRHRAmetu5e7RRBoxj7,263679,"Hollywood, a Beautiful Coincidence",999
67500,41,Allan Rayman,spotify:track:2oM4BuruDnEvk59IvIXCwn,spotify:artist:6Yv6OBXD6ZQakEljaGaDAk,25.22,spotify:album:3CbNgBzI7r9o0F6VjH9sTY,189213,Roadhouse 01,999
67501,42,Jon Jason,spotify:track:4Ri5TTUgjM96tbQZd5Ua7V,spotify:artist:77bNdkKYBBmc30CisCA6tE,Good Feeling,spotify:album:2dZ7oVNQBeLlpoUYfbEsJP,194720,Good Feeling,999
67502,43,Grizfolk,spotify:track:5RVuBrXVLptAEbGJdSDzL5,spotify:artist:6Xa4nbrSTfbioA4lLShbjh,Cosmic Angel - Acoustic From Capitol Studios,spotify:album:7D6Y19tjm4DQNch39FeWpO,257194,Cosmic Angel,999
67503,0,0,0,0,0,0,0,0,0

# **Création du csv Chain**

In [359]:
df_chain=pd.DataFrame()

In [360]:
df_chain["tracks"]=df_mor["track_uri"]

In [361]:
df_chain["ID"]=""

In [362]:
from collections import defaultdict
omg = df_chain["tracks"]
d = defaultdict(lambda: len(d))  # late binding allows d not to be defined yet
omg_id = [d[x] for x in omg]
df_chain["ID"]=omg_id

In [363]:
df_chain[":START_ID(Track)"]=""
df_chain[":END_ID(Track)"]=""

In [365]:

for i in range(0,len(df_chain["tracks"])-1):
    if i==67502:
        df_chain[':START_ID(Track)'][i]=df_chain["ID"][i]
        df_chain[':END_ID(Track)'][i]=df_chain["ID"][67503]
    elif df_mor["pos"][i]>df_mor["pos"][i+1]:
        df_chain[':START_ID(Track)'][i]=df_chain["ID"][i]
        df_chain[':END_ID(Track)'][i]=df_chain["ID"][67503]
    else:
        df_chain[':START_ID(Track)'][i]=df_chain["ID"][i]
        df_chain[':END_ID(Track)'][i]=df_chain["ID"][i+1]

<ipython-input-365-b795a145956d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chain[':START_ID(Track)'][i]=df_chain["ID"][i]
<ipython-input-365-b795a145956d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chain[':END_ID(Track)'][i]=df_chain["ID"][i+1]
<ipython-input-365-b795a145956d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chain[':START_ID(Track)'][i]=df_chain["ID"][i]
<ipython-input-365-b795a145956d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chain[':END_ID(Track)'][i]=df_chain["ID"][67503]
<ipython-input-365-b795a145956d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chain[':START_ID(Track)'][i]=df_chain["ID"][i]
<ipython-input-365-b795a145956d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chain[':END_ID(Track)'][i]=df_chain["ID"][67503]

In [366]:
df_chain=df_chain.drop(columns="tracks")

In [368]:
df_chain=df_chain.drop(index=67503)

In [369]:
df_chain=df_chain.drop(columns="ID")

In [370]:
df_chain.to_csv('enchainement.csv',index=False)

# **Modélisation de morceaux**

In [429]:
df_mor["duration_ms"]=df_mor["duration_ms"].astype(int)

In [430]:
df_mor=df_mor.drop(columns="pos")

In [431]:
df_mor=df_mor.drop(columns="album_uri")

In [432]:
df_mor=df_mor.drop(columns="artist_uri")

In [433]:
df_mor=df_mor.drop(columns="album_name")

In [434]:
df_mor["ID"]=""

In [435]:
from collections import defaultdict
omg = df_mor["track_uri"]
d = defaultdict(lambda: len(d))  # late binding allows d not to be defined yet
omg_id = [d[x] for x in omg]
df_mor["ID"]=omg_id

In [436]:
df_mor=df_mor.drop(columns="track_uri")

In [438]:
df_mor.drop_duplicates(subset='ID',keep="first",inplace=True)

In [439]:
df_mor["trackId:ID(Track)"]=df_mor["ID"]

In [440]:
df_mor=df_mor.reset_index(drop=True)

In [441]:
df_mor=df_mor.drop(columns="ID")

In [443]:
df_mor=df_mor.reindex(columns=["trackId:ID(Track)","track_name","artist_name","pid","duration_ms"])

In [444]:
df_mor.to_csv('morceaux.csv',index=False)

In [489]:
df_mor

,trackId:ID(Track),track_name,artist_name,pid,duration_ms
0,0,Lose Control (feat. Ciara & Fat Man Scoop),Missy Elliott,0,226863
1,1,Toxic,Britney Spears,0,198800
2,2,Crazy In Love,Beyoncé,0,235933
3,3,Rock Your Body,Justin Timberlake,0,267266
4,4,It Wasn't Me,Shaggy,0,227600
...,...,...,...,...,...
34439,34439,The Answer,Big Words,999,263679
34440,34440,25.22,Allan Rayman,999,189213
34441,34441,Good Feeling,Jon Jason,999,194720
34442,34442,Cosmic Angel - Acoustic From Capitol Studios,Grizfolk,999,257194
34443,34443,0,0,0,0

# **Requête de lecture**

In [453]:
from neo4j import GraphDatabase

uri = "bolt://localhost:7687"
driver = GraphDatabase.driver(uri, auth=("neo4j", "esme"))

# **Afficher les titres des artistes**

In [454]:
def get_actors(tx,name_artist):
    query = """MATCH (n:Track) where n.artist_name=$name_artist return n.track_name as Titre"""
    result = tx.run(query,name_artist=name_artist)
    return result.data()

In [455]:
def get_tracks(name_a):
    t=[]
    with driver.session(database="spotify") as session:
        track = session.read_transaction(get_actors,name_a)
        for a in track:
            print(a)

In [456]:
#Veuillez modifider le nom de l'artiste souhaité
get_tracks("Shakira")

{'Titre': 'La Tortura'}
{'Titre': "Hips Don't Lie"}
{'Titre': 'Ojos Así'}
{'Titre': "Can't Remember to Forget You"}
{'Titre': 'Waka Waka (This Time for Africa) (The Official 2010 FIFA World Cup (TM) Song)'}
{'Titre': 'Me Enamoré'}
{'Titre': 'Chantaje'}
{'Titre': 'Perro Fiel'}
{'Titre': 'Whenever, Wherever'}
{'Titre': 'Loca'}
{'Titre': 'Gordita'}
{'Titre': 'Addicted to You'}
{'Titre': "Don't Bother"}
{'Titre': 'Rabiosa'}
{'Titre': 'Gypsy'}
{'Titre': 'No'}
{'Titre': 'Dare (La La La)'}
{'Titre': 'Try Everything - From "Zootropolis"'}
{'Titre': 'Underneath Your Clothes'}
{'Titre': 'Pienso en Ti'}
{'Titre': 'Sombra de Ti'}
{'Titre': 'Moscas en la Casa'}
{'Titre': 'Antologia'}

# **Afficher le chemin**

In [487]:
#Veuillez modifier les morceaux voulu
with driver.session(database="spotify") as session:
        paths = session.run("""MATCH (n:Track{track_name: "Eye of the Tiger"}), (m:Track{track_name: "Somebody To Love"})
MATCH p=shortestPath((n)-[a:ENCHAINE*]->(m)) RETURN p""")
        x=paths.data()

## **Playlist**

In [490]:
def playlist():
    s=0
    for i in range(0,len(x[0]["p"])):
        if (i % 2) == 0:
            c=x[0]["p"][i]["track_name"]
            print(c)
            s+=int(x[0]["p"][i]["duration_ms"])
        else: i+=1
    s=s*1.667*10**(-5)
    print("durée: {:.2f}".format(s),"min")

In [491]:
playlist()

Eye of the Tiger
Party In The U.S.A.
Hey Ya! - Radio Mix / Club Mix
Baby
Somebody To Love
durée: 18.60 min